:root {
  --menubar-bg-color: #4f6ead;
  --vehiclelist-bg-color: #f0f5ff;
  --joblist-bg-color: #f0f8ff;
  --vehicle-bg-color: #f1f1f115;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  border: none 0px;
  padding: 0.1rem;
}

input:focus {
  border: none 0px;
}
