extends layout.pug

block content
  h1= title
  p This controls access to the #{title}
  p This was designed to help me remember the flat-rate hours for specific vehicles at my shop.
  a(href="/info") More Info on API Endpoints
