doctype
html
  title Flat Rate Time Manager API - Info
  link(rel='stylesheet', href='/stylesheets/infoStyles.css')

  h1 Flat Rate Time Manager API - Info

  div(class="endpoint-div")
    a(class="endpoint-link" href="/info/users") Users

  div(class="endpoint-div")
    a(class="endpoint-link" href="/info/vehicles") Vehicles

  div(class="endpoint-div")
    a(class="endpoint-link" href="/info/jobs") Jobs

  block content