extends info.pug

block content
  div
    h2 Vehicles Endpoint:
    p /Vehicles

    br

    h4 Get All Vehicles:
    div(class="endpoint-desc")
      p GET /vehicles
      p Gets all vehicles stored in database.
      p No Body.

      div(class="example-div")
        h5 Example
        p /vehicles
        