body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.endpoint-div {
  padding: 4px;
}

.endpoint-link {
  font-size: medium;
  padding: 8px;
  color: #00B7FF;
}