.jobContainer {
  grid-column: 1 / -1;
  grid-row: 2;
  display: grid;
  grid-template:
    "list selector" 100% / 1fr 1fr;
}

.jobLists {
  grid-area: list;
}

.jobframe {
  display: grid;
  grid-template:
    "jt ji" auto
    "tt ti" auto / auto 1fr;
  margin: 0.2rem;
  padding: 4px;
}

.jobtitle {
  grid-area: jt;
  text-shadow: rgba(0, 0, 0, 0.4) 1.2px 1.2px;
  text-align: right;
  padding: 0.2rem;
}

.timetitle {
  grid-area: tt;
  text-shadow: rgba(0, 0, 0, 0.4) 1.2px 1.2px;
  text-align: right;
  padding: 0.2rem;
}

.jobinput {
  grid-area: ji;
}
.timeinput {
  grid-area: ti;
}
