.maincontainer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 4rem 1fr;
}

.menucontainer {
  grid-column: 1 / 3;
  grid-row: 1;
  position: sticky;
}

.controlscontainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.getbuttonsitem {
  grid-row: 1;
}

.vehicleform {
  grid-row: 2;
}

.allvehiclelist {
  /* border: solid 2px #555555; */
  /* border-radius: 12px; */
  padding: 0.2rem;
  background-color: var(--vehiclelist-bg-color);

  grid-column: 1 / 2;
  grid-row: 2;
}

.goodMessage {
  background-color: palegreen;
}

.badMessage {
  background-color: rgb(255, 77, 77);
}